@import "./fonts";
@import "./colors";
@import "./breakpoints";

* {
  font-family: "AllerDisplay";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: auto;
  width: 100vw;
  height: 100vh;
  font-size: 20px;

  @include md {
    font-size: 36px;
  }

  @include ul {
    font-size: 48px;
  }
}

main {
  width: 100%;
  height: 100%;
  background-color: $bg;
  color: $fg;
  position: relative;
  padding: 1.5rem;

  display: grid;
  grid-template-rows: 0.9fr auto auto;
  grid-template-areas: "gallow" "missed" "word";

  @include md {
    padding: 2rem;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "gallow missed" "word word";
    grid-template-rows: 0.95fr auto auto;
  }

  @include lg {
    padding: 1rem;
    rid-gap: 2rem;
  }
}
.rectangle {
  transform: rotate(45deg);
  position: fixed;
  right: -180px;
  bottom: -50vw;
  width: 300px;
  height: 100vw;
  z-index: 1;
  background-color: $rectangleBg;

  @include md {
    right: 0;
  }
}

.gameWon {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;

  &--over {
    background-color: $gameOverBg;
  }
  &--won {
    background-color: $gameWonBg;
  }

  &__header {
    color: $gameWonFg;
  }

  &__btn {
    margin-top: 1rem;
    background: transparent;
    padding: 0.7rem 2rem;
    border: 2px dashed $btnBorder;
    border-radius: 55px;
    color: $btnFg;
    font-size: 0.7rem;
    cursor: pointer;
    transition: transform 0.1s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.errorMsg {
  font-weight: 400;
  color: $errorFg;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $errorBg;
  z-index: 10;
}
