@font-face {
  font-family: "AllerDisplay";
  src: url("../fonts/AllerDisplay.ttf") format("truetype");
}

$white: #eeeeef;
$gray: #56575f;
$lightGray: #e6e7e7;
$blue: #516af3;
$lightBlue: #c9d0f6;

$bg: $white;
$fg: $gray;

$missedLettersColor: $blue;

$letterFoundBg: $gray;
$letterFoundFg: $white;
$letterCover: $gray;

$pressedKeyColor: $blue;

@mixin xs {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin k {
  @media (min-width: 3000px) {
    @content;
  }
}

* {
  font-family: "AllerDisplay";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: auto;
  width: 100vw;
  height: 100vh;
  font-size: 30px;

  @include md {
    font-size: 36px;
  }

  @include xl {
    font-size: 48px;
  }
}
main {
  width: 100%;
  height: 100%;
  background-color: $bg;
  color: $fg;
  position: relative;
  padding: 1.5rem;

  display: grid;
  grid-template-rows: 0.95fr auto auto;
  grid-template-areas: "gallow" "missed" "word";

  @include md {
    padding: 2rem;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "gallow missed" "word word";
  }

  @include lg {
    padding: 1rem;
    rid-gap: 2rem;
  }
}
.rectangle {
  transform: rotate(45deg);
  position: fixed;
  right: -180px;
  bottom: -50vw;
  width: 300px;
  height: 100vw;
  z-index: 1;
  background-color: $blue;

  @include md {
    right: 0;
  }
}

.gameWon {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 97, 194, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;

  &--over {
    background-color: rgba(194, 0, 0, 0.5);
  }
  &--won {
    background-color: rgba(0, 97, 194, 0.5);
  }

  &__header {
    color: white;
  }
  &__btn {
    margin-top: 1rem;
    background: transparent;
    padding: 0.7rem 2rem;
    border: 2px dashed orange;
    border-radius: 55px;
    color: orange;
    font-size: 0.7rem;
    cursor: pointer;
    transition: transform 0.1s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
